.cart{
    & > span{
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 17px;
        font-weight: bold;
    }
    &__info{
        width: auto;
        outline: none;
        margin-bottom: 5px;
        background-color: #e6a146;
        border:black;
        padding: 5px;
        &:hover{
            cursor: pointer;
            background-color: #7146e6;
        }
    }
    &__clear{
        width: auto;
        margin-left: 10px;
        outline: none;
        background-color: #e6a146;
        border:black;
        padding: 5px;
        &:hover{
            cursor: pointer;
            background-color: #7146e6;
        }
    }
    margin: 10px auto;
    text-align: center;
    border: 3px solid #ff9100;
    border-radius: 3px;
    background-color: wheat;
}